.change-password{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.change-password .form{
    width: 35%;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.change-password .form h1{
    width: 100%;
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: center;
    margin: 0 0 2rem 0
}

.change-password .form .form-group{
    display: flex;
    flex-direction: column;
}

.change-password .form-group label{
    font-size: clamp(0.6rem, 2vw, 1rem);
    font-weight: bold;
    display: block;
}

.change-password .form-group input{
    width: 100%;
    padding: 0.5rem;
    border: 0.05rem solid rgb(204, 204, 204);
    border-radius: 0.5rem; 
    outline: none;
    box-sizing: border-box;
}

.change-password .pass-input {
    position: relative;
    input{
        padding: 0.5rem 2.2rem 0.5rem 0.5rem;
    }
    button{
        position: absolute;
        margin: 0 0.2rem;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        font-size: 1rem;
    }   
}

.change-password .form-group:not(:last-child){
    margin-bottom: 0.5rem;
}

.change-password .show{
    display: flex;
}

.change-password .hide{
    display: none;
}

.change-password .btn-change{
    width: 50%;
    display: block;
    margin: 2rem auto 0 auto;
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: 0.15rem solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text-white);
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.change-password .btn-change:hover{
    background-color: transparent;
    color: var(--primary-color);
}

/*  */

@media only screen and (max-width: 360px) {
    .change-password .form{
        width: 90%;
    }
}
    
@media only screen and (min-width: 360px) {
    .change-password .form{
        width: 80%;
    }
}

@media only screen and (min-width: 600px) {
    .change-password .form{
        width: 60%;
    }
}

@media only screen and (min-width: 768px) {
    .change-password .form{
        width: 45%;
    }
}

@media only screen and (min-width: 992px) {
    .change-password .form{
        width: 35%;
    }
}