:root{
    --header-height: 4rem;
}

.layout-container{
    width: 100%;
    height: 100%;
}

.layout-header{
    width: 100%;
    height: var(--header-height);
}

.layout-sidebar{
    width: 18%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /* border-right: 0.15rem solid #dddddd; */
}

.layout-content{
    width: 82%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
    background-color: var(--layout-content-background);
    box-sizing: border-box;
    overflow-y: auto;
}

.sidebar-show{
    display: block;
}

.sidebar-hide{
    display: none;
}

@media only screen and (max-width: 360px) {
    .layout-sidebar{
        width: 90%;
        height: calc(100% - var(--header-height));
        top: var(--header-height);
    }
    .layout-content{
        width: 100%;
        height: calc(100% - var(--header-height));
        top: var(--header-height);
    }
    .sidebar-hide{
        display: none;
    }
    .sidebar-header{
        display: block;
    }
}
    
@media only screen and (min-width: 360px) {
    .layout-sidebar{
        width: 60%;
        height: calc(100% - var(--header-height));
        top: var(--header-height);
    }
    .layout-content{
        width: 100%;
        height: calc(100% - var(--header-height));
        top: var(--header-height);
    }
    .sidebar-hide{
        display: none;
    }
    .sidebar-header{
        display: block;
    }
}

@media only screen and (min-width: 600px) {
    .layout-sidebar{
        width: 30%;
        height: calc(100% - var(--header-height));
        top: var(--header-height);
    }
    .layout-content{
        width: 100%;
        height: calc(100% - var(--header-height));
        top: var(--header-height);
    }
    .sidebar-hide{
        display: none;
    }
    .sidebar-header{
        display: block;
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
    .layout-sidebar{
        width: 18%;
        height: 100%;
        top: 0;
    }
    .layout-content{
        width: 82%;
        height: 100%;
        top: 0;
    }
    .sidebar-hide{
        display: block;
    }
    .sidebar-header{
        display: none;
    }
}